body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
/*Sección superior*/

#contenedor-superior {
    background-color: black;

}

#barra-superior {
    display: flex;
    justify-content: space-between;    
    color: white;
    font-size: 14px;
}

#barra-superior > p {
    margin-left: 5%;
}

#barra-superior > ul {
    display: flex;
    margin-right: 5%;
}

.container-idioma-moneda {
    background-color: black;
    color: white;
}

.menu-superior {
    margin-right: 20px;

}

/* Barra de navegación */

.container-nav-bar {
    background-color:rgba(240, 168, 62, 1);
    display: flex;
}

#barra-menu-principal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62px;
}

#logo {
    margin-top: 20px;
    margin-left: 40px;
}

#menu-principal {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

#menu-principal > li > a > i {
    color: white;
}

.navbar-menu {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

/*Contenido principal*/

main {
    display: block;
    position: relative;
}

/*Slide de bienvenida*/

.slide {
    position: relative;
}

.imagen-slider {
    width: 100%;
}

.contenido-slider {
    position: absolute;
    left: 63%;
    top: 33%;
    text-align: center;
}

.contenido-slider > h2 {
    color: rgba(60, 35, 19, 1);
    ;
}

.container-title-slider {
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 7px;
}

.container-title-slider > h1 {
    padding: 18px;
}

#btn-slider {
    background: #F0A83E;
    border-radius: 5px;
    padding: 20px;
    color: white;
    border: none;
    font-size: 20px;

}

/*Sección de cards*/

.icono-principal {
    font-size: 80px;
    color: rgba(240, 168, 62, 1);
    text-align: center;
    width: 100%;
}

.section-cards {
    margin: 40px;
}

.section-cards > h1 {
    color: rgba(60, 35, 19, 1);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.list-nav-main {
    display: flex;
    justify-content: center;
    padding: 0%;
}

.list-nav-main > li > a {
    margin: 15px;
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
    ;
}

/* cards */

.container-card {
    display: flex;
    justify-content: center;
}

.card {
    width: 265px;
    height: 318px;
    background-color: rgba(251, 250, 246, 1);
    margin: 40px 20px;
}

.card > a {
    text-decoration: none;
}

.card > a > h4 {
    color: rgba(60, 35, 19, 1);
    font-size: 15px;
    text-align: center;
    margin: 0%;
}

.card > a > h5 {
    color: rgba(240, 168, 62, 1);
    font-size: 15px;
    text-align: center;
    margin: 0%;
}

/*Seccion de formulario de contacto*/

.container-contact-form {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 30px;
}

.contact-form > h2 {
    text-align: center;
    font-weight: 700;
    color: rgba(60, 35, 19, 1);
    font-size: 25px;
    font-weight: 700;
}

.contact-form > input {
    height: 40px;
    width: 340px;
    background: rgba(60, 35, 19, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    padding: 13px;
    box-sizing: border-box;
    align-self: center;
}

.contact-form > input::placeholder {
    color: white;
    font-size: 9px;
}

.buttons-contact-form {
    display: flex;
    justify-content: center;
}

.buttons-contact-form > input {
    width: 110px;
    height: 34px;
    border-radius: 15px;
    margin: 50px 5px;
    color: white;
    border: none;
}

.buttons-contact-form > input:nth-child(1) {
    background: rgba(138, 135, 135, 1);
}

.buttons-contact-form > input:nth-child(2) {
    background: rgba(240, 168, 62, 1);
}

/*Sección de suscripción*/

.container-suscription {
    background-color:rgba(240, 168, 62, 1);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.suscription-logo {
    display: flex;
    margin-left: 25px;
    align-items: center;
}

.suscription-logo > i {
    color: rgba(255, 255, 255, 1);    
    font-size: 40px;
}

.suscription-logo > h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.suscription-list {
    display: flex;
    align-items: center
}

#mail-suscribe {
    width: 271px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border-style: none;
    margin-right: 5px;
    padding: 13px;
    box-sizing: border-box;
}

.button-suscribe > button {
    background: rgba(60, 35, 19, 1);
    width: 70px;
    height: 34px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 9px;
    margin-right: 45px;
    border: none;
}

/*Footer*/

footer {
    background-color: rgba(60, 35, 19, 1);
    box-sizing: border-box;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    margin: 0%;
}

.container-icon-text {
    display:flex;
    align-items: center;
    margin-top: 25px;
}

.icon-info-footer {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: rgba(138, 135, 135, 1);
    border: solid rgba(120, 105, 96, 1) 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.icon-info-footer > i {
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
}

.text-info-footer {
    display: flex;
    flex-direction: column;
}

.text-info-footer > h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    margin: 0%;
}

.text-info-footer > h6 {
    color: rgba(138, 135, 135, 1);
    font-size: 10px;
    font-weight: 700;
    margin: 0%;
}

/*Seccion derecha del footer*/

.logo-footer {
    display: flex;
    align-items: center;
}

/*Sección de derechos reservados*/

.section-derechos {
    background-color: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    box-sizing: border-box;
    margin: 0%;
    font-size: 10px;
    height: 20px;
    box-sizing: border-box;
}